@namespace WebAdmin.Components

<MudPaper Elevation="1" Class="mt-2 px-3">
<div class=" d-flex flex-row align-center my-2">
    <MudTextField @bind-Value="_name" 
                  Label="Name" 
                  Class="flex-grow-1 flex-shrink-0 mr-2" 
                  Variant="Variant.Outlined" 
                  Margin="Margin.Dense"
                  Error="@(!string.IsNullOrEmpty(_errorMessage))"
                 ></MudTextField>
    <MudNumericField @bind-Value="_no" 
                  Label="No" 
                  Class="flex-grow-0 mr-1" 
                  Variant="Variant.Outlined" 
                  Margin="Margin.Dense"
                  Error="@(!string.IsNullOrEmpty(_errorMessage))"
                 />
       
        @if (_isBusy)
            {
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" Class="flex-grow-0 flex-shrink-0 mr-2" />
            }
            else
            {
                <MudIconButton Icon="@Icons.Material.Filled.Save" aria-label="delete" Color="Color.Success" Class="flex-grow-0 flex-shrink-0 mr-1"
                       OnClick="AddRankAsync" />
            }

</div>


 @if(_errorMessage != string.Empty)
        {
            <MudText Class="ma-2" Color="Color.Error">@_errorMessage</MudText>
        }

</MudPaper>