@inherits LayoutComponentBase
<MudLayout >
    <MudAppBar Elevation="1" Color="Color.Transparent">
        <img oncontextmenu="return false;" src="https://media.publit.io/file/LogoPlayTogether/logo.png" alt="logo" style="width:6%"/>
        <img oncontextmenu="return false;" src="https://media.publit.io/file/LogoPlayTogether/name.png" alt="name" style="width:10%" class="mt-1"/>
        <MudAppBarSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
<MudPaper Class="pa-16 mt-10" Elevation="0" Height="100%" Width="100%">
    <MudMainContent>
        <MudGrid Justify="Justify.Center" Class="mt-6">
            @*<MudItem sm="12" md="4" lg="3">*@
            <MudItem sm="12" md="6" lg="5" >
                @Body
            </MudItem>

        </MudGrid>
    </MudMainContent>    
</MudPaper>

<MudPaper Class="pa-16 mt-16"  Elevation="0" Height="100%" Width="100%"  >
@*    <MudGrid Justify="Justify.Center" Class="mt-6">
    <MudItem xs="12">*@
    @*<MudText Class="mb-0"><a href="playtogether@support.com">playtogether@support.com</a></MudText>*@
@*    </MudItem>
    </MudGrid>*@
    <MudText Align="Align.Center">Play Together © 2021 All Rights Reserved.</MudText>
</MudPaper>

</MudLayout>
<MudThemeProvider />

@code {

}
