@page "/"
@inject NavigationManager Navigation

<PageTitle>Home | PlayTogether</PageTitle>
<PAPage >
	<AuthorizeView>
		<Authorized>
			<h2>Welcome </h2>
		</Authorized>
		<NotAuthorized>
			<MudPaper Elevation="0" Height="100%" Width="100%">
				<MudGrid Justify="Justify.Center">		
					<MudItem xs="4" >
			<MudText Typo="Typo.h5" Color="Color.Error" Align="Align.Right">You need to </MudText>
					</MudItem>
					<MudItem xs="0" >
			<MudLink Typo="Typo.h5" Href="/authentication/login" Align="Align.Center" Underline="Underline.Always" >Login</MudLink>
					</MudItem>
					<MudItem xs="4" >
			<MudText Typo="Typo.h5" Color="Color.Error" Align="Align.Left">to continue</MudText>
					</MudItem>
				</MudGrid>
				
			</MudPaper>
		</NotAuthorized>
	</AuthorizeView>
</PAPage>
@code
{

}