@namespace WebAdmin.Components

<MudGrid>
    <MudItem lg="4" sm="6">  
        <MudText Typo="Typo.h6" Class="mb-2 mt-6 ml-6"> Thông số</MudText>
    </MudItem>
    <MudItem lg="3" sm="4">
        <div class="d-flex flex-row-reverse ">
            <MudTooltip Text="Reload">
                <MudIconButton Icon="@Icons.Material.Filled.Refresh" ButtonType="ButtonType.Reset" OnClick="Reload" />
            </MudTooltip>
        </div>
    </MudItem>
    <MudItem lg="5" sm="0"></MudItem>
</MudGrid>

<MudContainer>
    @if  (_isBusy)
    
    {
        <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
    }
    else
    {
        foreach (var item in _systemConfigs)
        {

            <ItemSystemConfigDetail Item="item" />


        }
    }
    <MudGrid>
        <MudItem lg="7" sm="10">
            <MudDivider DividerType="DividerType.FullWidth" Class="my-2" />
        </MudItem>
    </MudGrid>
    <MudGrid>
        <MudItem lg="4" sm="6"></MudItem>
        <MudItem lg="3" sm="4">
            <div class="d-flex flex-row-reverse">
                <MudButton Class="ma-3 ml-6" ButtonType="ButtonType.Button" Color="Color.Primary" Style="width:100px;" Variant="Variant.Filled" OnClick="SubmitFormAsync" Disabled="_isBusy">Lưu</MudButton>
            </div>
        </MudItem>
        <MudItem lg="5" sm="0"></MudItem>
    </MudGrid>


</MudContainer>
